html, body {
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {

    background-color: #333333;
}

#menu {

    width: 100%;
    height: 25px;
    user-select: none;
    position: relative;
    background-color: #000000;
}

.tableContainer {
    
    height: calc(100% - 55px);
    overflow-y: auto;
}

table {
    
    width: 100%;
    border-collapse: collapse;
}

th, td {
    
    padding: 8px;
    color: #acacac;
    user-select: none;
    text-align: center;
    font-family: 'Arial';
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
}

th {

    position: sticky;
    background-color: #181818;
    font-size: 12px;
    border: none;
    padding: 4px;
    top: 0px;
}

.selected {
    
    background-color: #454545;
}

::-webkit-scrollbar {
    
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    
    background-color: #7e7e7e;
    border-radius: 5px;
}

footer {
    
    position: fixed;
    background-color: #222;
    user-select: none;
    text-align: left;
    padding: 5px 0;
    height: 20px;
    width: 100%;
    bottom: 0;
}

span {

    color: #acacac;
    font-size: 14px;
    padding: 0 10px;
    user-select: none;
    font-family: 'Arial';
}

button {

    color: #acacac;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 4px 10px;
    height: 25px;
}

button:hover {

    background-color: #181818;
}

button:active {

    background-color: #454545;
}

button:disabled {

    color: #5a5a5a;
}

table tr td:first-child {
    
    text-align: left;
    border-left: none;
}